[http]
    sslVerify = false

[user]
    name = Romain Chossart
    email = romainchossart@gmail.com

[core]
    excludesfile = ~/.gitexclude

[color]
    ui = auto
[color "branch"]
    current = blue reverse
    local = blue
    remote = yellow
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    rb = rebase

