[http]
    sslVerify = false

[user]
    name = Romain Chossart
    email = romainchossart@gmail.com

[core]
    excludesfile = ~/.gitexclude
    trustctime = false
    hooksPath = ~/.githooks

    # Use diff-highlight script if it exists, or just use less. It's pretty awesome that you can do this.
    # diff-highlight highlights the specific words that change in a diff.
    pager = "$(dh=/usr/local/share/git-core/contrib/diff-highlight/diff-highlight; [ -x "$dh" ] && echo "$dh" || echo cat) | less"


[color]
    ui = auto
[color "branch"]
    current = blue reverse
    local = magenta
    remote = yellow
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
    ce  = config --global --edit         # Open this file with $VISUAL.

    st = status
    a = add
    ad = add
    c = commit
    ci = commit
    ca = commit --amend
    caca = commit --amend -a -C HEAD
    cf = commit --fixup
    cfh = commit --fixup
    cfha = commit --fixup HEAD --all
    br = branch
    co = checkout
    rb = rebase
    s = show
    d = diff
    di = diff
    dif = diff
    dc = diff --cached
    difca = diff --cached
    sub = submodule
    cpi = cherry-pick
    p = push

    f = fetch            # Fetch one remote.
    fa = fetch --all     # Fetch from all the remotes.


    # Handy aliases
    headUpstream = rev-parse --abbrev-ref --symbolic-full-name @{u} # Upstream of current branch, e.g. origin/master.
    headRemote = "!git rev-parse --abbrev-ref --symbolic-full-name @{u} | cut -d '/' -f 1" # e.g. origin.
    headBranch = symbolic-ref --short HEAD # e.g. master.
    remoteOrg = "!git remote get-url $1 | awk -F ':|/' '{print $(NF-1)}' #" # Github org for remote. `g remoteOrg up` -> gibfahn.
    defaultBranch = "!git symbolic-ref --short refs/remotes/$1/HEAD | sed \"s|^$1/||\" #" # Default branch for remote. `g defaultBranch up` -> master

    # Create/update branch from Github PR, `g fp 657 origin`, `g fp 657` or `g fp` (Defaults: $1=<current branch>, $2=upstreamRemote).
    fp = "! b=${2:-$(git headRemote)}; b=${b:-up}; a=${1:-$(git headBranch)}; git fetch -fu $b pull/$a/head:$a; git checkout $a; git branch -u $b #"

    # A nice list of branches with dates
    brs = !git for-each-ref --sort=-committerdate refs/heads/ \
        --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset)|%(objectname:short)|%(color:green)%(committerdate:relative)%(color:reset)' \
        | column -ts '|'

    out = !git fetch && git log FETCH_HEAD
    in  = !git fetch && git log ..FETCH_HEAD

    # To make sure you don commit a given file:
    # git assume passwords.txt
    # # Do whatever (including commit/push)
    # git status
    # # List the 'assumed-unchanged' files
    # git assumed
    # git unassume passwords.txt
    assume   = update-index --assume-unchanged
    unassume = update-index --no-assume-unchanged
    assumed  = "!git ls-files -v | grep ^h | cut -c 3-"

    # Snapshot without changing working tree
    snapshot = git stash save "snapshot: $(date)" || git stash apply "stash@{0}"

    # Tip: use git diff --patience (or git pull/merge -s patience) when there
    # is a lot of repeated lines (see
    # http://blog.apiaxle.com/post/handy-git-tips-to-stop-you-getting-fired/)

    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all

[credential]
    helper = osxkeychain
[rerere]
    enabled = true
[push]
    default = simple

[merge "ours"]
    driver = true

[merge "theirs"]
    driver = mv %B %A

[merge "conflict"]
    driver = false
[rebase]
    autosquash = true

[merge]
    conflictstyle = diff3    # Show common ancestor in diffs (initially confusing, but very helpful).
    tool = p4mergetool  # p4merge is a nice 3-way merge tool
	# tool = meld       # meld is an alternative
[mergetool "p4mergetool"]
    cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
    trustExitCode = false
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
[mergetool]
    keepBackup = false

[includeIf "gitdir:~/geo/"]
    path = .gitconfig-work

[pull]
    rebase = true  # Rebase by default when doing a pull
[bash]
    showDirtyState = false
[commit]
    verbose = true
[submodule]
    fetchJobs = 6
[interactive]
    singleKey = true
[status]
    showStash = true
[stash]
    showPatch = true
