snippet sev2
	*'''[winaproach://${1:PTRnumber} IR $1]: '''<span style="color: rgb(255, 0, 0);">'''${2:PTRtitle}''' </span> 
	**'''Summary''': ${3:PTRsummary}.
	**'''Status''': ${4:PTRstatus}.
	${5}

snippet sev3
	*'''[winaproach://${1:PTRnumber} IR $1]: ${2:PTRtitle}'''
	**'''Summary''': ${3:PTRsummary}.
	**'''Status''': ${4:PTRstatus}.
	${5}
