snippet db
	Database{
	    target   => SMT_Target(),
	    output   => \&COM::DBUtils::strip_db_headers,
	    compare  => 0,
	    SQL      => <<'EOD' };
	${1}
	EOD

snippet edi
	InjectEDI{
		target   => ${1:SMT}_Target(),
		no_org   => 1,
		compare  => ${2},
		messages => <<'EOD' };
	${3}
	EOD

snippet receptor
	Receptor{
	    target   => ${1:SMT}_Target(),
	    compare  => ${2},
	    triggers   => <<'EOD' };
	${3}
	EOD
